@model Socrates.Models.Persoon

@{
    ViewData["Title"] = "Persoon";
    int bsnHoofdpersoon;
}

<script>
    function SetValueAside(formulierElement) {
        
    }
</script>

<h1>Persoon</h1>


@using (Html.BeginForm("ZoekPersoon", "Home", FormMethod.Post))
{
    <form>
        <div>
            <input class="searchBox" type="text" placeholder="bsn" id="bsnZoek" name="bsnZoek" required>
            @*<input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="apiVersion" id="apiVersionZoek" name="apiVersionZoek">
            <input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="expand" id="expandZoek" name="expandZoek">
            <input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="fields" id="fieldsZoek" name="fieldsZoek">*@

            <button type="submit" onclick="bsnHoofdpersoon = SetValueAside(document.getElementById('bsnZoek'))">Zoek</button>
        </div>
    </form>
}

<div>
    <div id="hoofdpersoon">
        @*<h4>Persoon</h4>*@
        <hr />
        <dl class="row">
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Burgerservicenummer)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Burgerservicenummer)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Naam)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Naam)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Voorvoegsels)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Voorvoegsels)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Voorletters)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Voorletters)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Voornamen)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Voornamen)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Geslacht)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Geslacht)
            </dd>
            @*<dt class="col-3">
                @Html.DisplayNameFor(model => model.DatumGeboorteBevolking)
            </dt>
            <dd class="col-3">
                @Html.DisplayFor(model => model.DatumGeboorteBevolking)
            </dd>*@
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.DatumGeboorte)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.DatumGeboorte)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.DatumOverlijden)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.DatumOverlijden)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Geboorteland)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Geboorteland)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Nationaliteit1)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Nationaliteit1)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Nationaliteit2)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Nationaliteit2)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Geheim)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Geheim)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Aanhef)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Aanhef)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Aanschrijfwijze)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Aanschrijfwijze)
            </dd>
        </dl>
    </div>
    <div id="relaties">
        @Html.Partial("ZoekOuders");
    </div>
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
