@model Socrates.Models.aggrBrpPersoon

@{
    ViewData["Title"] = "Persoon";
    int bsnHoofdpersoon;
}

<script>
    function SetValueAside(formulierElement) {
        
    }
</script>

<h1>Persoon uit aggegraat</h1>


@using (Html.BeginForm("ZoekPersoonMetRelaties", "Home", FormMethod.Post))
{
    <form>
        <div>
            <input class="searchBox" type="text" placeholder="bsn" id="bsnZoek" name="bsnZoek" required>
            @*<input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="apiVersion" id="apiVersionZoek" name="apiVersionZoek">
            <input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="expand" id="expandZoek" name="expandZoek">
            <input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="fields" id="fieldsZoek" name="fieldsZoek">*@

            <button type="submit" onclick="bsnHoofdpersoon = SetValueAside(document.getElementById('bsnZoek'))">Zoek</button>
        </div>
    </form>
}

<div>
    <div id="hoofdpersoon">
        @*<h4>Persoon</h4>*@
        <hr />
        <dl class="row">
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Burgerservicenummer)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Burgerservicenummer)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Naam)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Naam)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Voorvoegsels)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Voorvoegsels)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Voorletters)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Voorletters)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Voornamen)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Voornamen)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Geslacht)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Geslacht)
            </dd>
            @*<dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.DatumGeboorteBevolking)
            </dt>
            <dd class="col-3">
                @Html.DisplayFor(model => model.Hoofdpersoon.DatumGeboorteBevolking)
            </dd>*@
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.DatumGeboorte)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.DatumGeboorte)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.DatumOverlijden)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.DatumOverlijden)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Geboorteland)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Geboorteland)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Nationaliteit1)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Nationaliteit1)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Nationaliteit2)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Nationaliteit2)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Geheim)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Geheim)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Aanhef)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Aanhef)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Aanschrijfwijze)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Aanschrijfwijze)
            </dd>
        </dl>
    </div>
    <div id="relaties">

    </div>
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = model.Hoofdpersoon.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
