@model Socrates.Models.aggrBrpPersoon

@{
    ViewData["Title"] = "Persoon";
    int bsnHoofdpersoon;
    var ouder1 = Model.Ouders?.ToList()[0];
    var ouder2 = Model.Ouders?.ToList()[1];
}

<script>
    function SetValueAside(formulierElement) {

    }
</script>

<h1>Persoon met relaties</h1>


@using (Html.BeginForm("ZoekPersoonMetRelaties", "Home", FormMethod.Post))
{
    <form>
        <div>
            <input class="searchBox" type="text" placeholder="bsn" id="bsnZoek" name="bsnZoek" required>
            @*<input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="apiVersion" id="apiVersionZoek" name="apiVersionZoek">
                <input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="expand" id="expandZoek" name="expandZoek">
                <input onfocus="col-3orRelevant(this.id)" class="searchBox" type="text" placeholder="fields" id="fieldsZoek" name="fieldsZoek">*@

            <button type="submit" onclick="bsnHoofdpersoon = SetValueAside(document.getElementById('bsnZoek'))">Zoek</button>
        </div>
    </form>
}

<div>
    <div id="hoofdpersoon">
        @*<h4>Persoon</h4>*@
        <hr />
        <dl class="row">
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Burgerservicenummer)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Burgerservicenummer)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Naam)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Naam)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Voorvoegsels)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Voorvoegsels)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Voorletters)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Voorletters)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Voornamen)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Voornamen)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Geslacht)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Geslacht)
            </dd>
            @*<dt class="col-3">
                    @Html.DisplayNameFor(model => model.Hoofdpersoon.DatumGeboorteBevolking)
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => model.Hoofdpersoon.DatumGeboorteBevolking)
                </dd>*@
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.DatumGeboorte)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.DatumGeboorte)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.DatumOverlijden)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.DatumOverlijden)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Geboorteland)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Geboorteland)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Nationaliteit1)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Nationaliteit1)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Nationaliteit2)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Nationaliteit2)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Geheim)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Geheim)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Aanhef)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Aanhef)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Hoofdpersoon.Aanschrijfwijze)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Hoofdpersoon.Aanschrijfwijze)
            </dd>
        </dl>
    </div>

    @foreach (var ouderRelatie in Model.Ouders)
    {
        <div id="ouderRelaties">

            <dl class="row">
                <dt class="col-3">
                    Soort relatie:
                </dt>
                <dd class="col-9">
                    @(ouderRelatie?.SoortRelatie != null ? ouderRelatie.SoortRelatie.ToString() : "onbekend")
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Burgerservicenummer)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Burgerservicenummer)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Naam)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Naam)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Voorvoegsels)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Voorvoegsels)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Voorletters)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Voorletters)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Voornamen)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Voornamen)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Geslacht)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Geslacht)
                </dd>
                @*<dt class="col-3">
                        @Html.DisplayNameFor(model => ouderRelatie.DatumGeboorteBevolking)
                    </dt>
                    <dd class="col-3">
                        @Html.DisplayFor(model => ouderRelatie.DatumGeboorteBevolking)
                    </dd>*@
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.DatumGeboorte)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.DatumGeboorte)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.DatumOverlijden)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.DatumOverlijden)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Geboorteland)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Geboorteland)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Nationaliteit1)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Nationaliteit1)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Nationaliteit2)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Nationaliteit2)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Geheim)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Geheim)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Aanhef)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Aanhef)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouderRelatie.Aanschrijfwijze)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouderRelatie.Aanschrijfwijze)
                </dd>
            </dl>
        </div>
    }
    @*
        <div id="ouderRelatie2">

            <dl class="row">
                <dt class="col-3">
                    Soort relatie:
                </dt>
                <dd class="col-9">
                    @(ouder1?.SoortRelatie != null ? ouder2.SoortRelatie.ToString() : "onbekend")
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouder2.Burgerservicenummer)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouder2.Burgerservicenummer)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouder2.Naam)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouder2.Naam)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouder2.Voorvoegsels)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouder2.Voorvoegsels)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouder2.Voorletters)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouder2.Voorletters)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouder2.Voornamen)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouder2.Voornamen)
                </dd>
                <dt class="col-3">
                    @Html.DisplayNameFor(model => ouder2.Geslacht)
                </dt>
                <dd class="col-9">
                    @Html.DisplayFor(model => ouder2.Geslacht)
                </dd>
                @*<dt class="col-3">
                        @Html.DisplayNameFor(model => ouder2.DatumGeboorteBevolking)
                    </dt>
                    <dd class="col-3">
                        @Html.DisplayFor(model => ouder2.DatumGeboorteBevolking)
                    </dd>
    <dt class="col-3">
        @Html.DisplayNameFor(model => ouder2.DatumGeboorte)
    </dt>
    <dd class="col-9">
        @Html.DisplayFor(model => ouder2.DatumGeboorte)
    </dd>
    <dt class="col-3">
        @Html.DisplayNameFor(model => ouder2.DatumOverlijden)
    </dt>
    <dd class="col-9">
        @Html.DisplayFor(model => ouder2.DatumOverlijden)
    </dd>
    <dt class="col-3">
        @Html.DisplayNameFor(model => ouder2.Geboorteland)
    </dt>
    <dd class="col-9">
        @Html.DisplayFor(model => ouder2.Geboorteland)
    </dd>
    <dt class="col-3">
        @Html.DisplayNameFor(model => ouder2.Nationaliteit1)
    </dt>
    <dd class="col-9">
        @Html.DisplayFor(model => ouder2.Nationaliteit1)
    </dd>
    <dt class="col-3">
        @Html.DisplayNameFor(model => ouder2.Nationaliteit2)
    </dt>
    <dd class="col-9">
        @Html.DisplayFor(model => ouder2.Nationaliteit2)
    </dd>
    <dt class="col-3">
        @Html.DisplayNameFor(model => ouder2.Geheim)
    </dt>
    <dd class="col-9">
        @Html.DisplayFor(model => ouder2.Geheim)
    </dd>
    <dt class="col-3">
        @Html.DisplayNameFor(model => ouder2.Aanhef)
    </dt>
    <dd class="col-9">
        @Html.DisplayFor(model => ouder2.Aanhef)
    </dd>
    <dt class="col-3">
        @Html.DisplayNameFor(model => ouder2.Aanschrijfwijze)
    </dt>
    <dd class="col-9">
        @Html.DisplayFor(model => ouder2.Aanschrijfwijze)
    </dd>
    </dl>
</div>*@
@foreach (var partner in Model.Partners)
{
    <div id="partner">

        <dl class="row">
            <dt class="col-3">
                Soort relatie:
            </dt>
            <dd class="col-9">
                @(ouder1?.SoortRelatie != null ? partner.SoortRelatie.ToString() : "onbekend")
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Burgerservicenummer)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Burgerservicenummer)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Naam)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Naam)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Voorvoegsels)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Voorvoegsels)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Voorletters)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Voorletters)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Voornamen)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Voornamen)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Geslacht)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Geslacht)
            </dd>
            @*<dt class="col-3">
                    @Html.DisplayNameFor(model => partner.DatumGeboorteBevolking)
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => partner.DatumGeboorteBevolking)
                </dd>*@
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.DatumGeboorte)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.DatumGeboorte)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.DatumOverlijden)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.DatumOverlijden)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Geboorteland)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Geboorteland)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Nationaliteit1)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Nationaliteit1)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Nationaliteit2)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Nationaliteit2)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Geheim)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Geheim)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Aanhef)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Aanhef)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => partner.Aanschrijfwijze)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => partner.Aanschrijfwijze)
            </dd>
        </dl>
    </div>
}
@foreach (var kind in Model.Kinderen)
{
    <div id="kind">

        <dl class="row">
            <dt class="col-3">
                Soort relatie:
            </dt>
            <dd class="col-9">
                @(ouder1?.SoortRelatie != null ? kind.SoortRelatie.ToString() : "onbekend")
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Burgerservicenummer)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Burgerservicenummer)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Naam)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Naam)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Voorvoegsels)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Voorvoegsels)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Voorletters)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Voorletters)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Voornamen)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Voornamen)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Geslacht)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Geslacht)
            </dd>
            @*<dt class="col-3">
                    @Html.DisplayNameFor(model => kind.DatumGeboorteBevolking)
                </dt>
                <dd class="col-3">
                    @Html.DisplayFor(model => kind.DatumGeboorteBevolking)
                </dd>*@
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.DatumGeboorte)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.DatumGeboorte)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.DatumOverlijden)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.DatumOverlijden)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Geboorteland)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Geboorteland)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Nationaliteit1)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Nationaliteit1)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Nationaliteit2)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Nationaliteit2)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Geheim)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Geheim)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Aanhef)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Aanhef)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => kind.Aanschrijfwijze)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => kind.Aanschrijfwijze)
            </dd>
        </dl>
    </div>
}


</div>

@*<div>
        @Html.ActionLink("Edit", "Edit", new { /* id = model.Hoofdpersoon.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
