@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<li>
    @Html.ActionLink("IngeschrevenPersonen", "Index", "IngeschrevenPersonen") @*new { @class = "elements" }, null)*@
</li>
<li>
    @Html.ActionLink("IngeschrevenPersoon", "Index", "IngeschrevenPersoon") @*new { @class = "elements" }, null)*@
</li>
<li>
    @Html.ActionLink("Kinderen", "Index", "Kinderen") @*new { @class = "elements" }, null)*@
</li>
<li>
    @Html.ActionLink("Ouders", "Index", "Ouders") @*new { @class = "elements" }, null)*@
</li>
<li>
    @Html.ActionLink("Partners", "Index", "Partners") @*new { @class = "elements" }, null)*@
</li>
<li>
    @Html.ActionLink("Reisdocument", "Index", "Reisdocument") @*new { @class = "elements" }, null)*@
</li>
<li>
    @Html.ActionLink("Verblijfplaatshistorie", "Index", "Verblijfplaatshistorie") @*new { @class = "elements" }, null)*@
</li>
<li>
    @Html.ActionLink("Partnerhistorie", "Index", "Partnerhistorie") @*new { @class = "elements" }, null)*@
</li>
<li>
    @Html.ActionLink("Verblijfstitelhistorie", "Index", "Verblijfstitelhistorie") @*new { @class = "elements" }, null)*@
</li>