@model IEnumerable<Socrates.Models.Persoon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Burgerservicenummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voorvoegsels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voorletters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voornamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geslacht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumGeboorteBevolking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumGeboorte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumOverlijden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboorteland)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationaliteit1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationaliteit2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geheim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aanhef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aanschrijfwijze)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Burgerservicenummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voorvoegsels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voorletters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geslacht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumGeboorteBevolking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumGeboorte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOverlijden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geboorteland)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationaliteit1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationaliteit2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geheim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aanhef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aanschrijfwijze)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
